@inject IDbContextFactory<DataContext> _dbContextFactory

<div class="task-card">
    <label class="cursor-pointer text-xs">
        @Card.Name
    </label>
</div>

@code {
    [Parameter]
    public required Card Card { get; set; }
}
